{% extends 'base.html' %}

{% block content %}
<h2>Meals</h2>
<span class="margin-btm-30"> <button onclick="window.location.href='{% url 'meal_create' %}'" class="button">Add New Meal</button></span>
<div class="meal-columns">
  <div class="meal-column">
    <h3>Breakfast</h3>
    <ul>
      {% for meal in meals %}
        {% if meal.mealtime == "Breakfast" %}
          <li>
           
            <a href="{% url 'meal_update' meal.id %}"> {{ meal.name }}</a>

          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="meal-column">
    <h3>Lunch</h3>
    <ul>
      {% for meal in meals %}
        {% if meal.mealtime == "Lunch" %}
          <li>
        
            <a href="{% url 'meal_update' meal.id %}"> {{ meal.name }}</a>
          
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="meal-column">
    <h3>Dinner</h3>
    <ul>
      {% for meal in meals %}
        {% if meal.mealtime == "Dinner" %}
          <li>
           
            <a href="{% url 'meal_update' meal.id %}"> {{ meal.name }}</a>
          
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="meal-column">
    <h3>Snack</h3>
    <ul>
      {% for meal in meals %}
        {% if meal.mealtime == "Snack" %}
          <li>
           
            <a href="{% url 'meal_update' meal.id %}"> {{ meal.name }}</a>
           
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}