{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container-width-600">
  <div class="plan-container">
    <div class="plan">

        <h1> Error 400  "Bad Request"<h1>

            <h2>No you didn't make a bad request. totally fine what you just did.
                The computer had a hiccup fetching some data.
                If you had any idea how many words typed it takes to finish just a simple computer process useful to you, 
                you'd be surprised anything ever works.</h2>

      <h3>When this just happened it was automatically logged.
        Rest assured, we'll have this corrected in a jiffy.</h3>
      <h4>Feel free to contact us if you have any concerns,
                    or requests!</h4>
   
        Now if you like you can click that button below to go back.

        <button onclick="history.back()">Go Back</button>

    </div>
  </div><DIV>

</div>
{% endblock %}
