{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container-width-600">
  <div class="plan-container">
    <div class="plan">

        <h1> Error 403  "Permission  Denied"<h1>

            <h2>Well, I am sure it is an oversight. We can get this cleared up in a snap!.</h2>

      <h3>Every trip like this gets logged by the system so we should be contacting you in the
        next day or two. Just to get info like do you own the resource, do we need to get approval to add you.
        Or, you can contact us for a faster response. Oh, is that your phone ringing?
        Rest assured, we'll have this corrected in a jiffy.</h3>
      <h4>Feel free to contact us if you have any concerns,
                    or requests!</h4>
   
        Now if you like you can click that button below to go back.

        <button onclick="history.back()">Go Back</button>

    </div>
  </div><DIV>

</div>
{% endblock %}
