{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container-width-600">
  <div class="plan-container">
    <div class="plan">

        <h1> Error 404  "Page not Found"<h1>

            <h2>I just saw this, it was just here!  We can get this cleared up in a snap!.</h2>

      <h3>I know, right!  Just when you think you've found the thing you've been looking for, no it's 404!</h3>
      <h4> so this created a log file that we will be notified about. Then we will contact you to clear it up.<h4>
        <h5> However, you can contact us immediately if this is something you really need.</h5>
        <h6> Hey, is this getting smaller? Can you still see me? </h6>
            <p> So, yeah, call us at 805-555-1212</p>
   
        Now if you like you can click that button below to go back.
       
        <input type="button" value="back" class="button" onclick="history.back()"/> 
        
    </div>
  </div><DIV>

</div>
{% endblock %}
