{% extends 'base.html' %} {% block content %}

<div class="page">
  <div class="container-width-600">
  <h2 class="text-center">All Available Meals</h2>
  <a class="button" href="{% url 'meal_create' %}">Add Meal</a>
 
    <div class="meal-grid">
      {% for meal in meals %}
      <div class="meal-card">
        <div class="meal-name">
          {{ meal.name }}
        </div>
        <div class="button-group">
            <a class="button" href="{% url 'meal_update' meal.id %}">Edit</a>

            <a class="button-ctn" href="{% url 'meal_delete' meal.id %}">Delete</a>
        </div>
      </div>
      {% empty %}
      <p>No meals created yet.</p>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
