{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="icon" href="{% static 'favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'base.css' %}" />



<div class="page">

<div class="container-width-600">
  <h2>Create or Edit A Plan</h2>
  <form method="post">
    {% csrf_token %}
    <table class="meal-card">
      {% for field in form %}
        <tr>
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
        </tr>
      {% endfor %}
    </table>
    <button class="button" type="submit">Submit</button>
  </form>
</div>
</div>
{% endblock %}