{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="icon" href="{% static 'favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'base.css' %}" />

<section class="myplan-container">
  <pre>{{ myplan|default:"No data found" }}</pre>

  <form method="POST" action="{% url 'myplan_by_date' %}">
    {% csrf_token %}
    <label for="plan_date">View Plan for:</label>
    <select name="plan_date" id="plan_date">
      {% for plan in myplans %}
        <option value="{{ plan.date }}">{{ plan.date|date:"l, F j, Y" }}</option>
      {% endfor %}
    </select>
    <button type="submit">View</button>
  </form>
  

  <div class="myplan-details">
    <h1>{{ myplan.reference }}</h1>
    <p>Meal: {{ myplan.meal }}</p>
    <p>Physical: {{ myplan.physical }}</p>
    <p>Spiritual: {{ myplan.spiritual }}</p>
    <p>Emotional: {{ myplan.emotional }}</p>
    <p>Mental: {{ myplan.mental }}</p>
    <p>Quality: {{ myplan.quality }}</p>
    <p>Goals: {{ myplan.goals }}</p>
    <div class="myplan-actions">
      <a href="{% url 'myplan_update' myplan.id %}" class="btn warn">Edit</a>
      <a href="{% url 'myplan_delete' myplan.id %}" class="btn danger">Delete</a>
  </div>

</section>
{% endblock %}
